body{
    background-color:beige;
}

p,span{
    font-size:25px;
    margin-left:30px;
    margin-right:30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#timer, #show_sketch{
    float: right;
}

canvas{
    margin-top:300px;
}